@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Regular.ttf);
}

body {
  color: #4F5665;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background: #fff;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 55px;
  padding: 0;
  margin: 0;
}

p {
  font-weight: 400;
  line-height: 30px;
}

a {
  color: #4F5665;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  min-height: 72px;
  border-bottom: 1px dotted #cccccc;
}

header nav {
  padding: 30px 5px 10px 5px;
}

header nav ul li a:hover {
  color: #461d65;
}

.btn {
  height: 60px;
  margin-top: 35px;
  display: block;
  background: #F53838;
  border-radius: 10px;
  text-align: center;
  line-height: 60px;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.container {
  padding: 45px 0;
  border-bottom: 1px dotted #cccccc;
}

#box-tecnologias ul {
  display: flow-root;
}

footer .container ul {
  width: 326px;
  margin: 0 auto;
  padding: 65px 0;
}

footer .container ul li {
  padding: 0 5px;
  float: left;
}

footer .corp {
  clear: both;
  font-size: 12px;
  line-height: normal;
  text-align: center;
}

footer .develop {
  font-size: 10px;
  line-height: normal;
  text-align: center;
}

#box-tecnologias ul li {
  width: 127px;
  height: 76px;
  float: left;
  margin: 25px;
}


#box-saiba-mais ul {
  list-style: disc;
  padding-left: 20px;
}

/* MENU */
ul.topnav {
  position: absolute;
  right: 0;
  top: 0;
  height: 3em;
  line-height: 4em;
  width:100%;
}

ul.topnav li {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 0.9em;
  float: left;
}

ul.topnav li a {
  display: block;
  color: #4F5665;
  text-decoration: none;
  height: 3em;
  line-height: 3em;
  padding: 0 0.3em 0 0.3em;
  outline: 0;
}

ul.topnav li a:hover {
  color: #6d6d6d;
}

ul.topnav li.icon a {
  color: #ffffff;
}

ul.topnav li.icon {
  display: none;
}

@media all and (max-width:680px) {
  #box-home figure, #box-recursos figure {
    display: none;
  }

  ul.topnav {
    background: #3d002f;
  }

  ul.topnav li {
    display: none;
  }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }

  ul.topnav li.icon a:hover {
    color: #ffffff;
  }
}

@media all and (max-width:680px) {
  ul.topnav.responsive {
    position: relative;
    background: rgba(0,0,0,0.75); /*Fundo cinza*/
    height:auto;
    padding-top:15px;
    padding-bottom:10px;
    line-height:5px;
    width:100%;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 6px;
    top: 17px;
  }
  ul.topnav.responsive li {
    text-align:center;
    float: none;
    padding:0;
    display: inline;
  }
  ul.topnav.responsive li a {
    color: #ffffff;
    display: block;
    padding:0;
    line-height:30px;
    text-align:center;
  }
}

/* FIM MENU */

@media (min-width: 440px) {
  body {
    font-size: 1.5rem;
  }

  h1, h2, h3 {
    font-size: 3rem;
  }

  .btn {
    width: 100%;
  }

  .container {
    padding: 45px 10px;
  }

  #box-home figure, #box-recursos figure {
    display: none;
  }

  #box-recursos .container ul li {
    background: url('../image/li.svg') no-repeat left top;
    padding: 0 0 3px 36px;
    list-style: none;
    margin: 0;
  }
}

@media (min-width: 576px) {
  h1, h2, h3, footer .contato p {
    text-align: center;
  }

  #box-home figure, #box-recursos figure {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  ul.topnav li {
    float: right;
  }
  ul.topnav li a {
    color: #4F5665;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  h1, h2, h3{
    font-size: 2rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
    text-align: left;
  }

  .btn {
    width: 250px;
  }

  .container {
    width: 1140px;
    margin: 0 auto;
  }

  #box-home figure, #box-recursos figure {
    display: block;
  }

  #box-home .container, #box-recursos .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #box-recursos .container ul li {
    padding: 3px 0 12px 32px;
    font-size: 1rem;
  }

  #box-saiba-mais li {
    font-size: 1rem;
  }

  #box-saiba-mais h2, #box-tecnologias h2, #box-tecnologias p {
    text-align: center;
  }

  #box-contato .container {
    position: relative;
    display: flex;
    justify-content: center;
  }

  #box-tecnologias .container {
    padding-bottom: 95px;
  }

  #box-contato .container .contato {
    width: 945px;
    height: 155px;
    padding-left: 45px;
    padding-right: 45px;
    position: absolute;
    top: -5rem;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0 0 2px 0 rgba(95,95,95,0.8);
    box-shadow: 0 0 2px 0 rgba(95,95,95,0.8);
  }

  #box-contato .container .contato .btn {
    margin: 0;
  }
}